@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@inject SignInManager<IdentityUser> SignInManager
@model ClaimsPrincipal

@{
    ViewData["Title"] = "Главная страница";
}

<h1>123</h1>