@model KiiSec.Models.Visit

@{
}
<div>
    <h4>QR код заявки</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            <img src="@ViewBag.QRCodeUri" class=" = img-thumbnail" />
        </dd>
     </dl>
</div>
